# Virtual env
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
.flaskenv

# DB + Migrations
*.sqlite3
*.db\
migrations/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/